@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;700&display=swap');


*{
    font-family: 'Poppins';
}

body{
    background-color: #ECF3F3;
}

/* preloader */
#preloader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-out 2s ease-in-out forwards;
  }
  
  #loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #069C31;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
  }
  
  #content.fade-in {
    animation: fade-in 1s ease-in-out forwards;
  }
  
  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
/* Add this to your CSS file */
#preloader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-out 2s ease-in-out forwards;
}

#loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #069C31;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; display: none; }
}

#content.fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  

#logo{
    font-family:'Sigmar';
    text-transform: uppercase;
    color: #333;
}

#username-text{
    font-size: 14px;   
    margin-top: 12px;
}

#job-position{
    font-size: 10px;
    color: #666;
    margin-left: -10px;
}


#user-content{
    margin-left: 10px;
}

#username-icon{
    padding: 10px;
    border: 1px solid #333;
    border-radius: 100px;
}

#logout-icon{
    margin-left: 60px;
    font-size: 16px;
    cursor: pointer;
}

#logout-icon:hover{
    transform: scale(1.05);
    transition: .3s;
}

.hotel-menu-nav{
    width: 150px;
    background-color: transparent;
    color: #222;
    letter-spacing: 1px;
    font-family: 'Chakra Petch' !important;
    font-size: 16px;
    border: none;
    margin-top: 30px;
    text-align: start;
}

.hotel-menu-nav:hover, .active{
    transform: scale(1.05);
    transition: .4s;
    background-color: #069C31 !important;
    color: #fff;

}


.hotel-menu-nav:hover,
.hotel-menu-nav:active{
    background-color: #069C31;
    box-shadow: #069c3044 0px 8px 24px 0px;
    color: #fff;
}

.hotel-menu-nav i{
    margin: 6px;
}

#current_day{
    margin-top: 10px;
    transform: translate(0px,10px);
    color: #999;
    font-size: 14px;
}

.theme-button{
    background-color: #069C31;
    color: white;
    font-size: 14px;
}

.theme-button:hover{
    background-color: #24af4b;
    color: white;
}

#dashboard-button{
    margin: 10px;
}

#rooms-select{
    font-size: 14px;
    padding: 6px 12px;
    border: 2px solid #ebebeb;
    border-radius: 6px;
    width: 120px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.dashboard-content{
    background-color: #fff;
    border-radius: 6px;
}

.booking-cards{
    background-color: #ECF3F3;
    padding: 20px;
    border-radius: 12px;
    margin: 10px;
}

.card-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
}

.card-info{
    margin-top: -12px;
    font-size: 14px;
    color: #666;
}

.card-info i{
    margin-right: 8px;
}

.client{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 2px 4px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 4px;
}

.guest-thumbnail{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100px;
}

.client-name{
  font-size: 14px; 
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 0;
}

.client-id{
  font-size: 10px;
  color: #666;
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 0;
}

.client-total{
  margin-bottom: 0;
  color: #069C31;
  font-weight: bold;
}